<form (ngSubmit)="onSubmit()">
  <h1>Login</h1>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      <label for="idSociete">ID Société</label>
      <input type="number" id="idSociete" [(ngModel)]="idSociete" name="idSociete" required>
    </div>
    <button type="submit">Se connecter</button>
    

  </form>

  