<div class="etat-stock-container">
    <h2>État du Stock</h2>
    <div class="table-container">
      <table class="mat-elevation-z8">
        <thead>
          <tr>
            <th>Produit</th>
            <th> QtesE</th>
            <th> QtesS</th>
            <th>Stock </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of etatStock">
            <td>{{ entry.produit.name }}</td>
            <td>{{ entry.totalQteE }}</td>
            <td>{{ entry.totalQteS }}</td>
            <td>{{ entry.stockTotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  