.bar-container {
    width: 100px; /* Ajustez la largeur selon votre besoin */
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: #00bcd4; /* Couleur de la barre */
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    transition: width 0.5s ease-in-out;
}

.bon-entree .bar {
    background-color: #00bcd4; /* Couleur de la barre pour les bons d'entrée */
}

.bon-sortie .bar {
    background-color: #00bcd4; /* Couleur de la barre pour les bons de sortie */
}

.stock-positive .bar {
    background-color: #4caf50; /* Couleur de la barre pour un stock positif */
}

.stock-negative .bar {
    background-color: #f44336; /* Couleur de la barre pour un stock négatif */
}

.journal-stock-container {
    text-align: center;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: auto;
    margin-top: 20px;
}

.mat-table {
    width: 100%;
    margin-top: 60px; /* Ajoutez une marge supplémentaire si nécessaire */
}
.search-container {
    display: flex; /* Disposition en ligne */
    align-items: center; /* Aligne les éléments au centre verticalement */
    margin-bottom: 20px; /* Espacement sous la barre de recherche */
  }
  .search-input,
.date-input {
  margin-right: 15px; /* Espacement entre les champs */
  flex: 1; /* Les champs prennent l'espace disponible */
}
.mat-raised-button {
    background-color: #00bcd4;
    color: #fff;
  }
  
  .mat-raised-button:hover {
    background-color: #0097a7;
  }
  
